body {
    background-color: rgb(73, 73, 73);
}

container {
    background-color: rgb(105, 103, 103);
    width: 90%;
    margin: auto;
    overflow: hidden;
}
  
h1 {
    color: white;
    margin-left: 20px;
}